@page "/games/drum"
@inject LocalizationService localizationService;
@inject IJSRuntime JS

<section class="test-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">                
                <div id="div_map" style="width:100%; position:relative;">                    
                    <div class="w-100 text-center">
                        <img src="images/games/drum/bg-drum.png" style="width:70%;" />                                                                                         
                    </div>       
                    <div>                        
                        <div id="div_clap"  class="pushDiv" @onmouseover="@(e=>OnClickDrum("clap"))"></div>
                        <button id="button_clap" class="btn btn-primary pushButtons">
                            @{
                                string clap = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    clap = "拍手";
                                }
                                else
                                {
                                    clap = "Clap";
                                }
                            }
                            @clap
                        </button>

                        <div id="div_hihat" class="pushDiv" @onmouseover="@(e=>OnClickDrum("hihat"))"></div>
                        <button id="button_hihat" class="btn btn-primary pushButtons">
                            @{
                                string hihat = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    hihat = "踩镲";
                                }
                                else
                                {
                                    hihat = "Hihat";
                                }
                            }
                            @hihat
                        </button>

                        <div id="div_kick" @onmouseover="@(e=>OnClickDrum("kick"))"></div>
                        <button style="position:absolute; width:60px; height:60px; top:78%; left:47%" class="btn btn-primary pushButtons">
                            @{
                                string kick = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    kick = "踢鼓";
                                }
                                else
                                {
                                    kick = "Kick";
                                }
                            }
                            @kick
                        </button>

                        <div id="div_openhat" class="pushDiv" @onmouseover="@(e=>OnClickDrum("openhat"))"></div>
                        <button id="button_openhat" class="btn btn-primary pushButtons" >
                            @{
                                string openhat = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    openhat = "开镲";
                                }
                                else
                                {
                                    openhat = "Openhat";
                                }
                            }
                            @openhat
                        </button>

                        <div id="div_boom" @onmouseover="@(e=>OnClickDrum("boom"))"></div>
                        <button style="position:absolute; width:70px; height:60px; top:85%; left:30%" class="btn btn-primary pushButtons">
                            @{
                                string boom = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    boom = "鼓架";
                                }
                                else
                                {
                                    boom = "Boom";
                                }
                            }
                            @boom
                        </button>

                        <div id="div_ride" class="pushDiv" @onmouseover="@(e=>OnClickDrum("ride"))"></div>
                        <button id="button_ride" class="btn btn-primary pushButtons">
                            @{
                                string ride = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    ride = "骑镲";
                                }
                                else
                                {
                                    ride = "Ride";
                                }
                            }
                            @ride
                        </button>

                        <div id="div_snare" class="pushDiv" @onmouseover="@(e=>OnClickDrum("snare"))"></div>
                        <button id="button_snare" class="btn btn-primary pushButtons">
                            @{
                                string snare = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    snare = "军鼓 ";
                                }
                                else
                                {
                                    snare = "Snare";
                                }
                            }
                            @snare
                        </button>

                        <div id="div_tom" class="pushDiv" @onmouseover="@(e=>OnClickDrum("tom"))"></div>
                        <button id="button_tom" class="btn btn-primary pushButtons">
                            @{
                                string tom = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    tom = "调鼓 ";
                                }
                                else
                                {
                                    tom = "Tom";
                                }
                            }
                            @tom
                        </button>

                        <div id="div_tink" class="pushDiv" @onmouseover="@(e=>OnClickDrum("bass"))"></div>
                        <button id="button_tink" class="btn btn-primary pushButtons">
                            @{
                                string bass = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    bass = "底鼓";
                                }
                                else
                                {
                                    bass = "Bass";
                                }
                            }
                            @bass
                        </button>
                        
                    </div>
                    <div class="div_fullscreen" @onclick="OnClickFullScreen">
                        <button id="button_fullscreen" class="btn" style="width:150px; height:50px; font-size:20px; background-color: rgba(0, 0, 0, 0.5); color:white;">
                            @{
                                string fscreen = "";
                                if(localizationService.language == "zh-CN" )
                                {
                                    fscreen = "全屏";
                                }
                                else
                                {
                                    fscreen = "Full Screen";
                                }
                            }
                            @fscreen
                        </button>
                    </div> 
                </div>                
            </div>
        </div>
    </div>
</section>

@code {
    private IJSObjectReference? module;
     private bool IsFullScreen {get; set;}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {            
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/games/drum.js");                            
        }
    }
    private async Task OnClickDrum(string type)
    {
        
        if (module != null)
        {      
            await module.InvokeVoidAsync("playSound", type);
        }        
    }

    private async Task OnClickFullScreen()
    {
        string fullscreen = "";
        string close = "";
        if(localizationService.language == "zh-CN" )
        {
            fullscreen = "全屏";
            close = "关闭";
        }
        else
        {
            fullscreen = "Full Screen";
            close = "Close";
        }

        if (JS != null)
        {      
            if(!IsFullScreen)
            {
                IsFullScreen = true;
                await JS.InvokeVoidAsync("openFullscreen", "div_map", close);
            }
            else
            {
                IsFullScreen = false;
                await JS.InvokeVoidAsync("closeFullscreen", fullscreen);
            }
        }          
    }

}