@page "/videos"
@inject IJSRuntime JS
@inject LocalizationService localizationService;

<section class="video-section" style="margin-left:90px;" tabindex="0" @onkeydown="HandleKeyDown">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="carousel-vertical">
                    <div style="width:95%; height:200px; display:flex; align-items:center; justify-content:center;">
                        <div class="div-vertical-prev" style="width:300px; height:200px; display:flex; align-items:center; justify-content:center;" @onclick="@(e=>OnClickVerticalStep(-1))">
                            <button class="carousel-vertical-prev">
                            <span class="oi oi-chevron-left vertical-arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        </div>                        
                    </div>
                    <div class="carousel__scene" style="z-index: 500;">                        
                        <ol class="carousel__list"> 
                            <li class="carousel__cell">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <div id="carouselPanelControls" class="carousel" data-bs-ride="carousel">
                                                <div class="w-100 text-start" style="font-size:25px;">
                                                    @{
                                                        string panel = "";
                                                        if(localizationService.language == "zh-CN" )
                                                        {
                                                            panel = "镶片";
                                                        }
                                                        else
                                                        {
                                                            panel = "Panel";
                                                        }
                                                    }
                                                    @panel
                                                </div>
                                                <div class="carousel-inner">
                                                    @for(int i = 1; i <= 13; i++)
                                                    {
                                                        int index = i;                                                        
                                                        string imagePath = "images/videos/thumb/panel/" + i + ".png";
                                                        <div class="carousel-item">                                                        
                                                            <img src=@imagePath class="d-block w-100" style="cursor:pointer" alt="alt" @onclick="@(e=>OnClickThumb(@index))">                                                       
                                                        </div>    
                                                    }                                         
                                                </div>                                                
                                                <button id="panel-carousel-prev" class="carousel-control-prev" type="button" data-bs-target="#carouselPanelControls" data-bs-slide="prev">
                                                    
                                                    <span class="oi oi-chevron-left" aria-hidden="true" style="color:black; font-size:80px"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                
                                                <button id="panel-carousel-next" class="carousel-control-next" type="button" data-bs-target="#carouselPanelControls" data-bs-slide="next">
                                                    <span class="oi oi-chevron-right" aria-hidden="true" style="color:black; font-size:80px"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                    
                            </li>
                            <li class="carousel__cell">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <div id="carouselAutomotiveControls" class="carousel" data-bs-ride="carousel">
                                                <div class="w-100 text-start" style="font-size:25px;">
                                                    @{
                                                        string automotive = "";
                                                        if(localizationService.language == "zh-CN" )
                                                        {
                                                            automotive = "自動車";
                                                        }
                                                        else
                                                        {
                                                            automotive = "Automotive";
                                                        }
                                                    }
                                                    @automotive
                                                </div>
                                                <div class="carousel-inner">
                                                    @for(int i = 1; i <= 7; i++)
                                                    {
                                                        int index = i;                                                        
                                                        string imagePath = "images/videos/thumb/automotive/" + i + ".png";
                                                        <div class="carousel-item">                                                        
                                                            <img src=@imagePath class="d-block w-100" style="cursor:pointer" alt="alt" @onclick="@(e=>OnClickThumb(@index))">                                                       
                                                        </div>    
                                                    }                                         
                                                </div>
                                                <button id="automotive-carousel-prev" class="carousel-control-prev" type="button" data-bs-target="#carouselAutomotiveControls" data-bs-slide="prev">
                                                    <span class="oi oi-chevron-left" aria-hidden="true" style="color:black; font-size:80px"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button id="automotive-carousel-next" class="carousel-control-next" type="button" data-bs-target="#carouselAutomotiveControls" data-bs-slide="next">
                                                    <span class="oi oi-chevron-right" aria-hidden="true" style="color:black; font-size:80px"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="carousel__cell">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <div id="carouselHomeControls" class="carousel" data-bs-ride="carousel">
                                                <div class="w-100 text-start" style="font-size:25px;">
                                                    @{
                                                        string home = "";
                                                        if(localizationService.language == "zh-CN" )
                                                        {
                                                            home = "家";
                                                        }
                                                        else
                                                        {
                                                            home = "Home";
                                                        }
                                                    }
                                                    @home
                                                </div>
                                                <div class="carousel-inner">
                                                    @for(int i = 1; i <= 7; i++)
                                                    {
                                                        int index = i;                                                        
                                                        string imagePath = "images/videos/thumb/home/" + i + ".png";
                                                        <div class="carousel-item">                                                        
                                                            <img src=@imagePath class="d-block w-100" style="cursor:pointer" alt="alt" @onclick="@(e=>OnClickThumb(@index))">                                                       
                                                        </div>    
                                                    }                                         
                                                </div>
                                                <button id="home-carousel-prev" class="carousel-control-prev" type="button" data-bs-target="#carouselHomeControls" data-bs-slide="prev">
                                                    <span class="oi oi-chevron-left" aria-hidden="true" style="color:black; font-size:80px"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button id="home-carousel-next" class="carousel-control-next" type="button" data-bs-target="#carouselHomeControls" data-bs-slide="next">
                                                    <span class="oi oi-chevron-right" aria-hidden="true" style="color:black; font-size:80px"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div style="padding-top:350px;">
                        <div style="width:95%; height:200px; display:flex; align-items:center; justify-content:center;">
                            <div class="div-vertical-next" style="width:300px; height:200px; display:flex; align-items:center; justify-content:center;z-index:999;" @onclick="@(e=>OnClickVerticalStep(1))">
                                <button class="carousel-vertical-next" >
                                    <span class="oi oi-chevron-right vertical-arrow" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="modal-container">
        <div class="modal-background">
            <div class="modal">            
                <div class="container-fluid pt-160">              
                    <div class="row">
                        <div class="col-12">   
                            <table class="w-100">
                                <tr>
                                    <td style="15%" @onclick="@(e=>OnClickMoveVid(-1))">
                                        <button id="button_video_prev" class="video-control-prev">
                                            <span class="oi oi-chevron-left vertical-arrow" aria-hidden="true"></span>
                                            <span class="visually-hidden">Video Previous</span> 
                                        </button>                 
                                    </td>
                                    <td style="width:70%">                                                                        
                                        <div id="div_map" style="position:relative; width:100%">                                                                                                                       
                                            <span id="button_close" class="oi oi-x" style="position:absolute; right:-80px; top:-150px;font-size:60px; cursor:pointer; padding:80px; z-index:999"></span>
                                            <video id="Video1" width="100%">
                                                <source src="images/videos/mp4/panel/1.mp4" type="video/mp4">                            
                                            </video>
                                            
                                            <div class="controlButtonList" style="display: none;">
                                                <div class="video-controls-pre" style="top:0%; left:0%;" @onclick="@(e=>OnClickSkip(-5))">
                                                    <span style="font-size:60px; margin:10px 7px 0 0;">-5</span><span id="video-backward" class="oi oi-reload" style="transform:scaleX(-1); font-size:60px; cursor:pointer"></span>    
                                                </div>
                                                <div class="video-controls-play" style="top:0%; left:25%;" @onclick="OnClickVidPlay">
                                                    <span id="play" class="oi oi-media-play" style="font-size:60px; cursor:pointer"></span>
                                                </div>  

                                                <div class="video-controls-next" style="top:0%; right:0%;" @onclick="@(e=>OnClickSkip(5))">
                                                    <span id="video-forward" class="oi oi-reload" style="font-size:60px; cursor:pointer"></span><span style="font-size:60px; margin-top:10px;">+5</span>
                                                </div>
                                            </div>        
                                            <div style="position:absolute; margin-top:-130px; width:300px; height:200px;left:50%; margin-left:-150px; display:flex; align-items:center; justify-content:center; z-index:100;" @onclick="OnClickFullScreen">
                                                <button id="button_fullscreen" class="btn ControlButton" style="width:150px; height:50px; font-size:20px; background-color: rgba(0, 0, 0, 0.5); color:white;">
                                                    @{
                                                        string fscreen = "";
                                                        if(localizationService.language == "zh-CN" )
                                                        {
                                                            fscreen = "全屏";
                                                        }
                                                        else
                                                        {
                                                            fscreen = "Full Screen";
                                                        }
                                                    }
                                                    @fscreen
                                                </button>
                                            </div>                                                                        
                                        </div>
                                        
                                    </td>
                                    <td style="width:15%" @onclick="@(e=>OnClickMoveVid(1))">
                                        <button id="button_video_next" class="video-control-next">
                                            <span class="oi oi-chevron-right vertical-arrow" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>

</section>

@code{
    private IJSObjectReference? module;    
    private static int VideoType {get; set;}

    private bool IsFullScreen {get; set;}
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {        
        if (firstRender)
        {            
            await JS.InvokeAsync<IJSObjectReference>("import", "/js/vertical-carousel.js");         
            await JS.InvokeAsync<IJSObjectReference>("import", "/js/carousel-slider-video.js");                       
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/js/video.js");
            VideoType = 0;
            IsFullScreen = false;
        }
    }  

    private async Task OnClickFullScreen()
    {
        string fullscreen = "";
        string close = "";
        if(localizationService.language == "zh-CN" )
        {
            fullscreen = "全屏";
            close = "关闭";
        }
        else
        {
            fullscreen = "Full Screen";
            close = "Close";
        }

        if (JS != null)
        {      
            if(!IsFullScreen)
            {
                IsFullScreen = true;
                await JS.InvokeVoidAsync("openFullscreen", "div_map", close);
            }
            else
            {
                IsFullScreen = false;
                await JS.InvokeVoidAsync("closeFullscreen", fullscreen);
            }
        }           
    }

    private async Task OnClickRestart()
    {        
        if (module != null)
        {      
            await module.InvokeVoidAsync("restart");
        }        
    }

    private async Task OnClickSkip(int seconds)
    {        
        if (module != null)
        {      
            await module.InvokeVoidAsync("skip", seconds);
        }        
    }
    private async Task OnClickMoveVid(int index)
    {        
        if (module != null)
        {      
            await module.InvokeVoidAsync("OnClickMoveVid", VideoType, index);
        }        
    }

    private async Task OnClickVidPlay()
    {        
        if (module != null)
        {      
            await module.InvokeVoidAsync("vidplay");
        }        
    }

    private async Task OnClickThumb(int index)
    {        
        if (module != null)
        {      
            await module.InvokeVoidAsync("OnClickThumb", VideoType, index);
        }        
    }

    private void OnClickVerticalStep(int step)
    {        
        if( step < 0)
        {
            if(VideoType > 0)
                VideoType = VideoType + step;
            else
                VideoType = 2;
        }
        else
        {
            if(VideoType < 2)
                VideoType = VideoType + step;
            else
                VideoType = 0;
        }
    }
    
    private async Task HandleKeyDown(KeyboardEventArgs e)
    {        
        if (module != null)
        {      
            bool IsModalActive = await module.InvokeAsync<bool>("IsModalActive");
            if(IsModalActive)
            {
                if(e.Key =="ArrowLeft")
                    await OnClickMoveVid(-1);
                else if(e.Key =="ArrowRight")
                    await OnClickMoveVid(1);
            }
        }   
        
        if(e.Key =="ArrowUp")
            OnClickVerticalStep(-1);
        else if(e.Key =="ArrowDown")
            OnClickVerticalStep(1);
    }
}



